@page "/employeedetail/{id}"

<h3 class="text-center" style="font-weight:bold;">DETAIL EMPLOYEE</h3>
<br>

@* Tabel Employee *@
@* <table class="table table-striped table-hover">

  <tr>
    <th>Employee Id</th>
    <td>@Employee.EmployeeId</td>
  </tr>

  <tr>
    <th>First Name</th>
    <td>@Employee.FirstName</td>
  </tr>

  <tr>
    <th>Last Name</th>
    <td>@Employee.LastName</td>
  </tr>

  <tr>
    <th>Date Of Birth</th>
    <td>@Employee.DateOfBirth</td>
  </tr>

  <tr>
    <th>Gender</th>
    <td>@Employee.Gender</td>
  </tr>

  <tr>
    <th>Department</th>
    <td>@Employee.Department.DepartmentName</td>
  </tr>
  
</table> *@
@* Tabel Employee *@

@if (Employee == null || Employee.Department == null)
{
    <div class="spinner"></div>
}
else
{
@* Card Employee *@
<div class="card">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="@Employee.PhotoPath" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-header text-center" style="font-weight:bold;">@Employee.FirstName @Employee.LastName</h5>
        <br>
        <label class="col-md-12">Email : @Employee.Email</label>
        <label class="col-md-12">Date Of Birth : @Employee.DateOfBirth</label>
        <label class="col-md-12">Gender : @Employee.Gender</label>
        <label class="col-md-12">Department : @Employee.Department.DepartmentName</label>
      </div>
    </div>
  </div>
</div>
@* Card Employee *@
}

<br>
<a href="employeepage" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Back">Back</a>